section#form
  form(id="search-vadio" method="get" action="/searching")
    //- label(for="title") Title
    input(id="title" type="text" name="title" placeholder="Title")
    //- label(for="artist") Artist
    input(id="artist" type="text" name="artist" placeholder="Artist")
    //- label(for="country") Country
    input(id="country" type="text" name="country" placeholder="Country (Default: US)" maxlength="2")
    button(type="submit" disabled) Submit