head
  meta(lang="en")
  title Landing Page
  //- all static dependencies go here
  link(rel='stylesheet', href='/stylesheets/normalize.css', type='text/css')
  link(rel='stylesheet', href='/stylesheets/reset.css', type='text/css')
  link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
  script(type="text/javascript", src="/javascripts/jquery.js")
  script(type="text/javascript", src="/javascripts/video.js")
  script(type="text/javascript", src="/javascripts/ajax.js")
  script(src="https://use.typekit.net/kqi1drs.js")
  script.
    try{Typekit.load({ async: true });}catch(e){}    try{Typekit.load({ async: true });}catch(e){}

  include ./_templates.jade