template#searchlist-item
  li.result.search-item.closed
    div.thumb
    div.info
      p.title
      p.artist
    div.controls
      div.play
      div.plus

template#playlist-item
  li.result.playlist-item.closed
    div.thumb
    div.info
      p.title
      p.artist
    div.controls
      div.play
      div.minus

template#yt-embed
  iframe(frameborder="0" style="width: 100%; height: 100%" allowfullscreen)