extends layout

block content

  main
    include ./partials/_form.jade
    p#message-box
      span.invisible This is a message box.
    div#list-box
      section#search
          h1 Search Results
          ul#searchlist.list
      section#play-box
        section#player.closed
          iframe(frameborder="0" style="width: 100%; height: 100%" allowfullscreen)
        h1 Playlist
        ul#playlist.list