extends layout

block content
  h1= title
  p #{title} for your favorite videos
  div#images
  p#data Data: #{data}

  form(id="search-vadio" method="get" action="/searching")
    label(for="title") Title
    input(id="title" type="text" name="title" value="Uptown Funk")
    br
    label(for="artist") Artist
    input(id="artist" type="text" name="artist" value="Bruno Mars")
    br
    label(for="country") Country
    input(id="country" type="text" name="country" value="US")
    br
    button(type="submit") Submit