// Color variables ***************************************************

$color1: #CCB03A;
$color2: #FAEF5D;
$color3: #97A976;
$color4: #675647;
$color5: #253E41;
$color6: #F1582D;
$color7: #C1DAD8;
$color8: #6CB8C1;
$color9: #BF6A28;
$color10: #5E4D1E;
$color11: #E5DECA;
$grey: #ddd;
$colorBG: white;
$colorBGdark: #333;