.hidden {
  @include hidden;
}

.invisible {
  @include invisible;
}

.closed {
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  overflow: hidden;
}

.transition-height {
  @include transition(height, 400ms, ease-in);
}

.transition-bgcolor {
  @include transition(background-color, 400ms, ease-in);
}

.transition-opacity {
  @include transition(opacity, 400ms, ease-in);
}